body{
    background-color: #f0f0f0;
    font-family: Courier, monospace;
    margin: 10px;
    padding: 10px;
}

.centerd_element{
    display: row;
    justify-content: center;
    align-items: center;
    
}

.username{
    display: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: auto;
}

.hobbies{
    display: column;
    justify-content: center;
    align-items: center;
}

.option {
    position: relative; /*  Needed for proper option positioning */
    display: inline-block; /*  Optional for horizontal layout */
  }
  
  .option-button {
    background-color: #ccc;
    padding: 10px 16px;
    border: none;
    cursor: pointer; /*  Shows hand cursor on hover */
  }
  
  .option-content {
    display: none; /* Initially hide the option content */
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; /* Ensures option appears above other elements */
  }
  
  .option-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .option:hover .option-content { /* Show option on hover */
    display: block;
  }